<% unless @remedies.empty? %>
  <% unless @remedies.by_category("fruit").empty? %>
    <div class="w-1/5">
      <h4 class="font-semibold py-5 text-md lg:text-lg xl:text-xl 2xl:text-2xl">Fruits</h4>
      <hr>
      <ul class="mt-5 list-disc -space-y-4">
        <% @remedies.by_category("fruit").each do |remedy| %>
          <li class="pl-2"><%= remedy.name %></li>
          <br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @remedies.by_category("vegetable").empty? %>
    <div class="w-1/5">
      <h4 class="font-semibold py-5 text-md lg:text-lg xl:text-xl 2xl:text-2xl">Vegetables</h4>
      <hr>
      <ul class="mt-5 list-disc -space-y-4">
        <% @remedies.by_category("vegetable").each do |remedy| %>
          <li><%= remedy.name %></li>
          <br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @remedies.by_category("dairy").empty? %>
    <div class="w-1/5">
      <h4 class="font-semibold py-5 text-md lg:text-lg xl:text-xl 2xl:text-2xl">Dairy</h4>
      <hr>
      <ul class="mt-5 list-disc -space-y-4">
        <% @remedies.by_category("dairy").each do |remedy| %>
          <li><%= remedy.name %></li>
          <br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @remedies.by_category("nuts").empty? %>
    <div class="w-1/5">
      <h4 class="font-semibold py-5 text-md lg:text-lg xl:text-xl 2xl:text-2xl">Nuts</h4>
      <hr>
      <ul class="mt-5 list-disc -space-y-4">
        <% @remedies.by_category("nuts").each do |remedy| %>
          <li><%= remedy.name %></li>
          <br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @remedies.by_category("other").empty? %>
    <div class="w-1/5">
      <h4 class="font-semibold py-5 text-md lg:text-lg xl:text-xl 2xl:text-2xl">Others</h4>
      <hr>
      <ul class="mt-5 list-disc -space-y-4">
        <% @remedies.by_category("other").each do |remedy| %>
          <li><%= remedy.name %></li>
          <br>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
