<div class="lg:flex">
  <%= render "devise/shared/cureline"%>
  <div class="flex flex-col bg-white lg:w-1/2 h-screen justify-center">
    <div class="flex flex-row justify-center">
      <div>
        <h1 class="flex justify-center font-bold text-3xl text-gray-900 mb-10">Sign up</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field my-2 border-b-2">
            <%= f.text_field :name, placeholder: "Enter Your Name", autocomplete: "name", class: "border-none" %>
          </div>
          <div class="field my-2 border-b-2">
            <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "border-none" %>
          </div>
          <div class="field my-2 border-b-2">
            <%= f.password_field :password, placeholder: "Set Your Password", autocomplete: "new-password", class: "border-none" %>
          </div>
          <div class="field my-2 border-b-2">
            <%= f.password_field :password_confirmation, placeholder: "Confirm Your Password", autocomplete: "new-password", class: "border-none" %>
          </div>
          <div
            class="flex justify-center actions w-full rounded-sm bg-primary hover:bg-primary_light text-white py-2 my-4">
            <%= f.submit "SIGN UP" %>
          </div>
        <% end %>
        <%- if controller_name != 'sessions' %>
          <div class="flex flex-col justify-center py-2">
            <div class="flex flex-row justify-center text-gray-500 font-semibold">
              <p>You have already registered</p>
            </div>
            <div
              class="flex flex-row justify-center py-1 text-indigo-900 hover:font-semibold">
              <%= link_to "Log in", new_session_path(resource_name, class: "flex justify-center") %><br/>
            </div>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
