<div class="flex flex-col">
  <%= render "/shared/back" %>
  <div class="flex justify-center my-10">
    <h3 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold text-blue-700"><%= @disease.name %></h3>
  </div>
  <div class="flex mx-10 mt-10 flex-col sm:flex-row sm:justify-between items-center">
    <% unless @remedies.empty? %>
      <h3 class="text-md md:text-lg lg:text-xl xl:text-2xl font-semibold">Remedies:</h3>
    <% end %>
    <% if can? :new, DiseaseRemedy %>
      <div>
        <%= link_to  "Add remedies to #{@disease.name}", new_disease_disease_remedy_path(@disease), class: "text-blue-600 hover:text-blue-800" %>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col lg:flex-row justify-center items-center lg:items-start w-full mt-16">
    <% if @remedies.empty? %>
      <div class="flex flex-col items-center justify-center">
        <div class="bg-bg_image w-1/2 sm:w-1/4 rounded-lg">
          <%= image_tag("oops.png") %>
        </div>
        <div class="p-10 lg:p-20 text-red-600">
          <h1 class="text-center lg:text-2xl xl:text-4xl font-bold md:px-5 lg:px-10">No remedy found.</h1>
        </div>
      </div>
    <% else %>
      <%= render partial: "remedies/list_remedies", locals: { message: @remedies } %>
    <% end %>
  </div>
  <% if can? :create, HealthConcern %>
    <div class="flex justify-end fixed bottom-10 right-10">
      <%= button_to "+ Add to health concern", disease_healthconcerns_path(@disease), method: :post, class: "justify-center bg-blue-600 hover:bg-blue-800 text-white py-2 px-3" %>
    </div>
  <% end %>
</div>
