<div class="lg:flex">
  <%= render "devise/shared/cureline" %>
  <div class="flex flex-col bg-white lg:w-1/2 h-screen justify-center">
    <div class="flex flex-row justify-center">
      <div>
        <h1 class="flex justify-center font-bold text-3xl text-gray-900 mb-10">Sign in</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field border-b-2 border-gray-300 my-2">
            <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "border-none" %>
          </div>
          <div class="field border-b-2 border-gray-300 my-2">
            <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "border-none" %>
          </div>
          <div class="flex justify-center text-sm pb-2 pt-3">
            <% if devise_mapping.rememberable? %>
              <div class="field text-gray-500">
                <%= f.check_box :remember_me, class: "rounded-md" %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <div class="ml-3 text-indigo-900 hover:font-semibold">
                <%= link_to "Forgot password?", new_password_path(resource_name) %><br/>
              </div>
            <% end %>
          </div>
          <div
            class="flex justify-center actions w-full rounded-sm bg-primary hover:bg-primary_light text-white py-2 my-4">
            <%= f.submit "LOGIN" %>
          </div>
        <% end %>
        <div class="flex flex-col justify-center">
          <div class="flex justify-center text-gray-500 font-semibold">
            <p>New to CureLine?</p>
          </div>
          <div class="flex justify-center py-1 text-indigo-900 hover:font-semibold">
            <% if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name) %><br/>
            <% end %>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
